*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #aaa;
}
.container
{
    width: 100%;
    min-height: 600px;
    border-radius: 10px;
    position: relative;
    padding: 0 15px;
}
.form
{
    width: 100%;
    height: 70px;
    position: relative;
    margin: 15px 0;
}
.form h1
{
    text-transform: capitalize;
    line-height: 2.5;
    color: #333231;
    font-family: monospace;
    text-align:center;
}
label
{
    text-transform: capitalize;
    font-family: monospace;
    font-weight:600;
}
::placeholder
{
    color: #808080;
    text-transform: capitalize;
    font-family: monospace;
}
legend
{
    text-transform: capitalize;
    font-family: monospace;
    font-weight:600;
}
.input-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-item
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    position: relative;
}
.input-item label
{
    margin-bottom: 5px;
}
.input-item input
{
    height: 30px;
    /* width: 200px; */
    outline: none;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    padding: 0 25px 0 5px;
}
#percentage
{
    font-weight: bold;
    color: #000;
}
#cstate,
#pstate
{
    height: 30px;
    outline: none;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    padding: 0 25px 0 5px;
    text-transform: capitalize;
    font-family: monospace;   
}
.input-item p
{
    color: red;
    padding-top: 2px;
    font-family: monospace;
    text-transform: capitalize;
}
.input-item .fa-xmark
{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(-100%);
    color: red;
    display: none;
}
.present-address
{
    padding-left: 100px;
}
.permanent-address
{
    padding-right: 100px;
}
.academic-qualification input
{
    width: 198px;
}
.submitbtnitem
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.submitbtnitem .input-item
{
    margin-right: 30px;
}
.submitbtn
{
    padding: 15px 30px;
    margin-top: 30px;
    border: none;
    outline: none;
    background: royalblue;
    font-family: monospace;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 1100px){
    .input-box{
        flex-wrap: wrap;
    }
    .present-address
    {
        padding-left: 0;
    }
    .permanent-address
    {
        padding-right: 0;
    }
}
@media (max-width: 250px){
   .input-item input
   {
        width: auto;
   }
}
