*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1
{
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #1b5c5c;
    font-size: 25px;
}
.container
{
    width: 50%;
    height: 400px;
    background: #aaaa;
    /* border: 2px solid red; */
}
.container textarea
{
    width: 100%;
    height: 300px;
    resize: none;
    border: 1px solid #aaaa;
    outline: none;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}
.counter
{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.counter p{
    text-transform: capitalize;
    font-weight: bold;
    color: #041f1f;
}
.counter p span
{
    padding-left: 10px;
    font-size: 18px;
}
.counter p:nth-child(1) span
{
    color: #0a06fa;
}
.counter p:nth-child(2) span
{
    color: #ff2600;
}